.cover__link {
  color: #FFF;
  text-decoration: none;
  background-image: url(../../../images/cover-trains.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  max-width: 100%;
  min-height: 740px;
  position: relative;
  z-index: 10;
}

.cover__link::before {
  content: '';
  background-color: rgb(42 44 47 / 0.3);
  transition: background-color 0.5s linear;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
}

.cover__link:hover::before {
  background-color: rgb(42 44 47 / 0.8);
  transition: background-color 0.5s linear;
}

@media screen and (max-width: 1279px) {
  .cover__link {
    max-width: 100%;
    min-height: 640px;
  }
}

@media screen and (max-width: 1023px) {
  .cover__link {
    max-width: 100%;
    min-height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .cover__link {
    max-width: 100%;
    min-height: 200px;
  }
}