.place {
  display: grid;
  grid-template-areas:
    "place__title place__website"
    "place__image place__paragraph_first"
    "place__image place__paragraph_second";
  grid-template-columns: 460px 484px;
  grid-template-rows: 152px repeat(2, minmax(min-content, max-content));
  gap: 0 40px;
  justify-content: center;
  margin: 92px 0 0;
  padding: 0;
}

@media screen and (max-width: 1279px) {
  .place {
    grid-template-columns: 440px 456px;
    grid-template-rows: 152px repeat(2, minmax(min-content, max-content));
    gap: 0 32px;
    margin: 92px 0 0;
  }
}

@media screen and (max-width: 1023px) {
  .place {
    grid-template-columns: 340px 352px;
    grid-template-rows: 92px repeat(2, minmax(min-content, max-content));
    gap: 0 28px;
    margin: 88px 0 0;
  }
}

@media screen and (max-width: 767px) {
  .place {
    grid-template-areas:
      "place__title"
      "place__website"
      "place__image"
      "place__paragraph_first"
      "place__paragraph_second";
    grid-template-columns: 320px;
    grid-template-rows: repeat(5, minmax(min-content, max-content));
    gap: 0;
    margin: 64px 0 0;
  }
}