.place__link {
  color: #FFF;
  text-decoration: underline;
  text-underline-offset: 4px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 12px 0 0;
  padding: 0;
}

.place__link:hover {
  color: #FFF;
  opacity: 0.8;
}