.place__paragraph {
  grid-area: place__paragraph_second;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  margin: 26px 0 0;
  padding: 0;
}

.place__paragraph:first-of-type {
  grid-area: place__paragraph_first;
  margin: 48px 0 0;
}

@media screen and (max-width: 1279px) {
  .place__paragraph {
    margin: 27px 0 0;
  }

  .place__paragraph:first-of-type {
    margin: 48px 0 0;
  }
}

@media screen and (max-width: 1023px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
    margin: 25px 0 0;
  }

  .place__paragraph:first-of-type {
    margin: 48px 0 0;
  }
}

@media screen and (max-width: 767px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
    margin: 25px 16px 0 16px;
  }

  .place__paragraph:first-of-type {
    margin: 32px 16px 0 16px;
  }
}